@model List<RainEqualsOut.Models.Inventory>
@{
    ViewBag.Title = "ViewStock";
}

<h2>ViewStock</h2>

<table class="table table-bordered table-responsive table-hover">
<tr>
    <th>Results</th>
    <th>Price</th>
    <th>Add to cart</th>
</tr>
@foreach (RainEqualsOut.Models.Inventory inventory in Model )
{
    <tr>
        <td>@Html.DisplayFor(temp => inventory.Product)</td>
        <td>@Html.DisplayFor(temp => inventory.amount)</td>
    </tr>

}
</table>