@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As parents, we could never keep our kids items in their backpacks dry during sports events or going to school. We tried putting them in garbage bags during their soccer games but as soon as they opened the bag to get something out, their gear became wet. Then we tried putting a shopping bag but then the bottom of the bag became wet. After searching online and in stores, we finally realized there was nothing out there to solve the two problems we had. That is where we came up with RAIN=OUT. A waterproof, tear resistant cover that protects from ground soaking as well allows you to remove items from your bag without the rest of your bag becoming wet.   .</p>
