@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rain=Out</h1>
    <p class="lead">Protecting important items from Mother Nature is difficult. We have our jacket, boots, and gloves. What about those items we can't or don't protect like your sports equipment, electronics, and outdoor gear? Well, now you can! Our company logo and name say's it all. Rain=Out (Patent Pending) is made from waterproof, tear resistant material that protects those important items from Mother Nature but more importantly still allowing you accessibility to those items whenever you need them. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div class="row">
    <div class="col-md-4">
        <h3>Terms and Conditions</h3>
        <p></p>
        <button class="btn btn-default">@Html.ActionLink("Terms", "Terms", "Home", new { style = "color: black" })</button>
    </div>
    <div class="col-md-4">
        <h3>Return Policy</h3>
        <p></p>
        <button class="btn btn-default">@Html.ActionLink("Returns", "Return", "Home", new { style = "color: black" })</button>
    </div>
    <div class="col-md-4">
        <h3>Contact Us</h3>
        <p></p>
        <button class="btn btn-default">@Html.ActionLink("Contact Us", "Contact", "Home", new { style = "color: black"})</button>
    </div>
</div>